extends ../base
include ../mixins/Echo

block main
  if loggedIn
    if loggedInUser.manager
    div
      a(href=`/course/${course._id}/uploadecho`) Upload Echo
  div 
    each echo in echos
      +echo(echo)
  
