// # Config
@import './config/reset.scss';

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style: none;
}

body {
  display: flex;
  align-items: center;
}

.body__container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.cover {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  z-index: -9999;
}

.shadow {
  z-index: 5;
  background-color: rgba(black, 0.6);
}

// # Screens
@import './screens/home.scss';
@import './screens/login.scss';
@import './screens/join.scss';
@import './screens/course.scss';
@import './screens/course.scss';

// # Components
@import './components/Header.scss';

// # Base
