.course-main__container {
  width: 100%;
  height: 93%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 30px;
  &::-webkit-scrollbar{
    background-color: rgba(225,225,225,0);
    width: 13px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #ecf0f1;
    border-radius: 9999px;
  }
  &::-moz-scrollbar{
    background-color: rgba(225,225,225,0);
    width: 10px;
  }
  &::-moz-scrollbar-thumb{
    background-color: #ecf0f1;
    border-radius: 9999px;
  }
  &::-o-scrollbar{
    background-color: rgba(225,225,225,0);
    width: 10px;
  }
  &::-o-scrollbar-thumb{
    background-color: #ecf0f1;
    border-radius: 9999px;
  }
}
.course{
  position: relative;
  width: 180px;
  height: 290px;
  img{
  width: 180px;
  height: 290px;
  border-radius: 10px;
  object-fit: cover;
  }
  .course__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 290px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 0.2s, opacity 0.2s linear;
    &:hover {
      background-color: rgba(0,0,0,0.5);
      opacity: 1;
    }
    h1{
      font-size: 20px;
      margin-bottom: 20px;
    }
    span{
      font-size: 16px;
      word-break: break-all;
    }
  }
}