.course__inner {
  a {
    img {
      width: 200px;
      height: 120px;
      object-fit: cover;
      border-radius: 7px;
      box-shadow: 1px 1px 5px #7f8c8d;
      margin-bottom: 5px;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    word-break: break-all;
  }
}
