.header{
  background-color: skyblue;
}
.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  background-color: blue;
  font-size: 22px;
}
.menu-left{
  :first-child{
    display: flex;
    :not(:first-child){
      margin-left: 10px;
    }
    li{
      display: flex;
      align-items: center;
    }
  }
  .vertical-menu{
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 240px;
    height: 100%;
    background-color: blue;
    a{
      display: block;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }
  .off{
    display: none;
  }
}

.fa-bars{
  font-size: 20px;
}


.menu-right{
  display: flex;
  :not(:last-child){
    margin-right: 10px;
  }
}
