extends base

block main 
  div.home__container
    div
      h1 MeAri 
      p This site was created to teach Korean for free.
    div
      span Press the button to start your course.
      a(href="/course")
        span Course