extends base
include mixins/Course

block main 
  div.home__container
    h2 Courses
    p Let's learn Korean easily and interestingly.
    div.course__container
      each course in courses 
        +Course(course)
      else 
        span.empty-message Can't find Course
    hr