header.header
  div.menu__container

    nav.menu-left
      ul
        li 
          i.fas.fa-bars
        li 
          a(href="/") MeAri
        if loggedIn && loggedInUser.manager
          li 
            a(href="/course/upload-course") Upload Course
      ul.vertical-menu.off
        li 
          a(href="/course") Course

    nav.menu-right
      if !loggedIn
        li 
          i.far.fa-envelope
        li 
          a(href=`/users/login`).fas.fa-user-circle
      
      if loggedIn
        li 
          a(href="/users/logout") Log Out
        li 
          a(href=`/users/${loggedInUser._id}`)=loggedInUser.username
  div.message__container
    if messages.notice
      span.message=messages.notice
block script 
  script(src="/assets/js/menu.js")
        
          

          
