nav 
  ul 
    li 
      a(href="/").fab.fa-cc-visa
    li 
      a(href="/course") Course
    li 
      a(href="/course/upload-course") Upload Course
    li 
      a(href="/users/1234").fas.fa-user-circle  User Name
        
