header.header
  div.menu__container

    nav.menu-left
      ul
        li 
          i.fas.fa-bars
        li 
          a(href="/") MeAri
        if loggedIn && loggedInUser.manager
          li 
            a(href="/course/upload-course") Upload Course
      ul.vertical-menu
        li 
          a(href="/course") Course

    nav.menu-right
      if !loggedIn
        li
          a(href="/users/join") Join
        li
          a(href="/users/login") Log In 
        li 
          a(href=`/users/login`).fas.fa-user-circle  User Name
      
      if loggedIn
        li 
          a(href="/users/logout") Log Out
        li 
          a(href=`/users/${loggedInUser._id}`)=loggedInUser.username
  div.message__container
    //if messages.notice
    span.message Invalid password. Please check again.

block script 
  script(src="/assets/js/menu.js")
        
          

          
