extends ../base

block main 
  div.login__container
    div.login__inner
      h1.login__title Log In
      form(method="post").login__form
        input(type="email", placeholder="E-mail" name="email", id="email", required)
        input(type="password", placeholder="Password" name="password", id="password", required)
        button(type="submit") Log In
      a.login__btn-signUp(href="/users/join")
        span Join